body {
    margin: 0px;
}
header {
    width: 1000px; 
    margin-left: calc(50% - 500px); 
    background-color: yellow;
        }

img {
width: 100px;
height: 30px;
background-color: red;
}

nav+img {
    background-color: red;  
}